* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --fonte-titulo: "Bebas Neue", sans-serif;
    --fonte-menu: "Montserrat", sans-serif;
    --vermelho: #c1272d;
    --branco: #fff;
}

.titulo {
    font-family: var(--fonte-titulo);
    color: var(--vermelho);
    font-weight: 500;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 5px 30px;
    position: fixed;
    width: 100%;
    background-color: var(--branco);

    h1 {
        font-size: 40px;
    }

    nav ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 15px;
        padding-bottom: 10px;

        li {
            a {
                text-decoration: none;
                color: var(--vermelho);
                font-family: var(--fonte-menu);
                font-weight: 600;
                position: relative;
            }
            
            a::before {
                background-color: var(--vermelho);
                content: '';
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0%;
                height: 3px;
                transition: all 0.2s ease-in-out;
            }

            a:hover::before {
                width: 100%;
            }
        }
    }
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(20, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/banner-img.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;

    .titulo {
        color: var(--branco);
        font-size: 70px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .subtitulo {
        color: var(--branco);
        font-family: var(--fonte-menu);
        font-size: 22px;
    }
}