* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --fonte-titulo: "Bebas Neue", sans-serif;
    --fonte-menu: "Montserrat", sans-serif;
    --fonte-textos: 'Roboto', sans-serif;
    --vermelho-claro: #d8181f;
    --vermelho: #c1272d;
    --branco: #fff;
}

.titulo {
    font-family: var(--fonte-titulo);
    color: var(--vermelho);
    font-weight: 500;
}

header {
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 5px 30px;
    position: fixed;
    width: 100%;
    background-color: var(--branco);
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);

    h1 {
        font-size: 40px;
    }

    nav ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 15px;
        padding-bottom: 10px;

        li {
            a {
                text-decoration: none;
                color: var(--vermelho);
                font-family: var(--fonte-menu);
                font-weight: 600;
                position: relative;
            }
            
            a::before {
                background-color: var(--vermelho);
                content: '';
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0%;
                height: 3px;
                transition: all 0.2s ease-in-out;
            }

            a:hover::before {
                width: 100%;
            }
        }
    }
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(25, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/banner-img.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 170px;

    & .titulo {
        color: var(--branco);
        font-size: 70px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    & .subtitulo {
        color: var(--branco);
        font-family: var(--fonte-menu);
        font-size: 22px;
    }
}


section {

    padding-top: 40px;

    h3 {
        font-size: 36px;
        text-align: center;
        margin-bottom: 40px;
    }
    
    &#sobre-londrina {

        background-color: #f1f1f1;

        .content-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            p {
                text-align: center;
                width: 60%;
                line-height: 26px;
                margin: 15px auto 30px;
                font-family: var(--fonte-textos);
                font-size: 18px;
            }
        }
    }

    &#pontos-turisticos {
        height: 80vh;

        .pontos-container {
            max-width: 70%;
            height: 450px;
            border-radius: 10px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            margin: 20px auto;
            display: flex;
            overflow: hidden;
        }

        .ponto-turistico {
            flex: 1;
            transition: all 0.5s ease;
            display: flex;
            flex-direction: column-reverse;
            position: relative;
            cursor: pointer;
            color: var(--branco);
            font-size: 1.5em;
            font-weight: bold;
            border: 2px solid var(--vermelho-claro);

            p {
                opacity: 0;
                transition: opacity 0.7s ease;
                font-family: var(--fonte-textos);
                font-size: 16px;
                max-width: 70%;
                margin-left: 40px;
                margin-bottom: 10%;
            }

            .titulo {
                margin: 30px;
                text-align: center;
                font-size: 26px;
                color: var(--vermelho-claro);
            }
        }

        #container-lago-igapo {
            background-image: radial-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.8 )), url('../images/bg-lago-igapo.webp');
            background-position: center left;
            background-size: cover;
        }
        #container-jardim-botanico {
            background-image: radial-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.8 )), url('../images/bg-jardim_botanico.jpg');
            background-position: left bottom;
            background-size: cover;
        }
        #container-museu-historico {
            background-image: radial-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.8 )), url('../images/bg-museu-historico.png');
            background-position: right bottom;
            background-size: cover;
        }
        #container-catedral-metropolitana {
            background-image: radial-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.8 )), url('../images/bg-catedral-metropolitana.jpg');
            background-position: right bottom;
            background-size: cover;
        }

        .pontos-container:hover .ponto-turistico {
            flex: 1;
        }

        .pontos-container .ponto-turistico:hover {
            flex: 7;
        }

        .pontos-container .ponto-turistico:hover p {
            opacity: 1;
        }
    }
}